@charset "UTF-8";
#per_line{width:100%;height:1px;background:#c6c4c4;box-shadow: 1px 1px 3px #c6c4c4;margin-top: 91px; }
.crumbs{font-size:16px;color:#333;line-height: 50px;}
.crumbs a{color:#333;}
.w1200{width:1200px;margin:0 auto;}
.per_main{margin-top:30px;margin-bottom: 100px;min-height: 80%;}
.per_main:after{content: "";display: block;height: 0;clear: both;}
.per_left{width: 200px;background:#f5f5f5;padding-bottom: 20px;float:left;}
.plt{display: inline-block;font-size:18px;color:#333;line-height:45px;text-align: center;width:100%;word-wrap:break-word; word-break:normal;text-overflow: ellipsis;}
.per_lf{width:100%;border-top:1px solid #dcdcdc;}
.per_lf_list{}
.per_lf_list li{font-size:16px;line-height: 35px;list-style: disc!important;text-align:left;width:100px;margin-left:85px;color:#666;}
.per_lf_list li a{color:#666;}
.per_right{width:980px;padding-left:20px;float:left;}
.per_r_ico{width:120px;height:120px;border-radius: 50%;background:#f00;margin:0 auto;overflow: hidden;}
.per_r_ico img {width:100%;height:100%;}
.per_t1{font-size:24px;color:#333;text-align: center;margin-top:20px;}
.per_t2{font-size:16px;color:#333;text-align: center;margin-top:60px;}
.per_t2 a{color:#f00;}
.rz{display: inline-block;background:url(../img/ico_1.png) no-repeat left center;padding-left:20px;line-height: 20px;}
.line{margin:0 5px;}
.per_t3{font-size:16px;color:#333;text-align: center;margin-top:200px;}
.per_t4{display: block;width:110px;height:40px;line-height: 40px;background:#f50000;font-size:16px;margin:0 auto;text-align: center;color:#fff;margin-top:20px;}
.per_r1{float: left;}
/*photo*/
.pms{line-height: 25px;color:#ccc;text-align: center;}
.imgbox{width:110px;height:110px;border:none;position: relative;margin:0 auto;}
.imgbox1{width:110px;height:110px;border-radius: 50%;border:0;background:#e5e4e4;overflow: hidden;}
.imgbox2{width:200px;position: relative;margin-right:10px;}
.imgbox3{width:200px;position: relative;}
.imgbox4{width:200px;height:120px;position: relative;}
.imgbox5{width:200px;height:120px;position: relative;}
.imgbox6{width:290px;position: relative;}
.imgbox7{width:200px;position: relative;margin-left:15px;}
.imgbox8{width:200px;position: relative;}
#preview1{width:110px;height:110px;background:#e5e4e4;}
.img{width:100%;height:100%;}
#preview2{width:200px;height:120px;background:#e5e4e4;margin-top: 10px;}
#preview3{width:200px;height:120px;background:#e5e4e4;margin-top: 10px;}
#preview4{width:200px;height:120px;background:#e5e4e4;}
#preview5{width:200px;height:120px;background:#e5e4e4;}
#preview6{width:290px;height:175px;background:#e5e4e4;}
#preview7{width:176px;height:104px;background:#e5e4e4;}
#preview8{width:200px;height:120px;background:#e5e4e4;}
.btn{position: absolute;left:0;top:0;display: inline-block;z-index: 9;text-align: center;}
.btn p{display: inline-block;color:#fff;font-size:20px;width:100%;line-height: 25px;background:#f00;}
.btn1{width:110px;height:110px;line-height: 110px;}
.btn2{width:200px;height:120px;line-height: 120px;top:15px;}
.btn3{width:200px;height:120px;line-height: 120px;top:15px;}
.btn4{width:200px;height:120px;line-height: 120px;}
.btn5{width:200px;height:120px;line-height: 120px;}
.btn6{width:290px;height:175px;line-height: 175px;}
.btn7{width:176px;height:104px;line-height: 104px;}
.btn8{width:200px;height:120px;line-height: 104px;}
.upload_pic{display: block; width: 0; height: 0px;opacity: 0;}
.preview img{width:100%;height:100%;}
.outsideInfo{width: 80%;margin: 0 auto;}
.form1 span{display: inline-block;line-height:45px;width:85px;font-size: 16px;position: relative;text-align: right;padding-right: 10px;margin-right: 10px;}
.form1>p{display: inline-block;line-height:45px;width:113px;font-size: 16px;position: relative;text-align: right;padding-right: 10px;margin-right: 10px;}
.form1 span::after{
	content: "*";
    font-size: 16px;
    line-height: 44px;
    color: #d00000;
    position: absolute;
  	top: 2px;
    right: -5px;
    z-index: 1;
}
.form1 input[type="text"]{width:380px;height:43px;border:1px solid #dcdcdc;padding-left:10px;}
.sex{display: inline-block;width:60px;font-size:16px;}
.form1 i{font-size: 16px;}  .form1 tt{font-size:16px;color:#666;margin-left:10px;white-space:nowrap}
.red{color:#f00;white-space:nowrap}
.form1 input[type="submit"],.form1 input[type="reset"]{width:105px;height:35px;line-height: 35px;background:#eb0000;color:#fff;text-align: center;margin-right:50px;cursor: pointer;font-size: 16px;}
.form1{font-size: 16px;}
.per_rnav{width:100%;background:#e5e5e5;}
.rnav_title{margin-bottom: 10px;}
.rnav-two{margin-top:10px;position: relative;}
.rnav-two div{display:inline-block;height:40px;;line-height:40px;margin-left:20px;cursor: pointer;width: 13%;}
.rnav-two div.draw_msg{width: 20%;}
.check-all{margin-left:10px!important;position:absolute;}
.all-reds{color: #d50000;}
.checked-alls{width:20px;float:left;margin-left:10px;}
.labei-all-check{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    background:#fff;
    display: inline-block;
    width:10px;
    height:10px;
    border-radius: 50%;
    border: .08rem solid #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 1px #c3c3c3;
    box-shadow: 0 0 0 1px #c3c3c3;
}
.first-all{margin-left:50px!important;}
.checked-on{
    background:#db0000;
}

.per_rnav p{width:120px;line-height: 40px;background:#d00000;color:#fff;text-align:center;font-size: 16px;}
.per_rnav a{display: inline-block; padding:0 20px;line-height: 40px;color:#333;text-align:center;font-size: 16px;}
.per_rnav .rb{background:#d00000;color:#fff;}
.pay_main{padding-left:30px;margin-top:40px;font-size: 16px;}
.pay_main p{font-size: 16px;margin:30px 0;color:#333;}
.acount li{float:left;margin:10px;}
.acount li a{display:block;width: 100px;height: 30px;line-height: 30px;text-align: center;color: #666;border: 1px solid #dcdcdc;}
.acount li a.ss{background:url(../img/check.png) no-repeat right bottom;color:#f00;}
.other{color:#666;font-size:16px;display:none;}
.other input{width:100px;height:30px;border:1px solid #666;margin-left:10px;padding-left:15px;}

.btn_normal{width:135px;height:40px;color:white;font-size:20px;line-height:40px;background:#f00;border:none;outline:none;cursor: pointer;}
        .pay label{margin-right:20px;}
.pay_cont img{margin-left:20px;}
.pay{overflow:hidden;}
.pay a img{width:160px;height:55px;}
.pay_f{margin-top:60px;}
#tuichu{height:60px;margin-right:65px;font-size:16px;line-height:60px;
float:right;}
/* 二维码 */
.ewm{width:500px;margin:0 auto;text-align: center;background:#f7f8fa;padding:10px 0 50px;position: fixed;display: none;left:50%;top:20%;transform: translateX(-50%);}
.ewm_l,.ewm_r{width:50%;height:auto;}
.ewm_l_h{width:90%;padding:25px;background:#fff;}
.ewm_l p{margin-top:20px;color:16px;}
.gn{color:#049200;}
.evaluate_list{width:100%;font-size:16px;color:#333;}
.evaluate_list li{border-bottom:1px solid #dcdcdc;padding-bottom:10px;margin-top:10px;}
.evaluate_li_lf{width:680px;padding-left:20px;}
.evaluate_li_lf p{line-height: 24px;font-size: 16px;color:#666;max-height:70px;text-overflow:ellipsis;overflow: hidden;position: relative;}
.evaluate_li_lf span{display: inline-block;width: 30%;}
.evaluate_li_lf a{color: #d00000;}
.evaluate_li_rt{width:271px;margin-top:10px;}
.evaluate_li_rt span{line-height: 35px;font-size: 16px;color:#333;}
.per_e2{display: inline-block; width:1px;margin:0 14px;height:40px;text-align: center;line-height: 40px;background:#d2d2d2;margin-top:5px;}
.per_e3{display: inline-block;width:80px;height:40px;text-align: center;line-height: 40px;border-left:1px solid #d2d2d2;}
.per_e4{display: inline-block;width:100px;height:40px;text-align: center;line-height: 40px;border-left:1px solid #d2d2d2;}
.per_e5{display: inline-block;width:80px;height:40px;text-align: center;line-height: 40px;border-left:1px solid #d2d2d2;}
.per_e5 img,.per_d5 img{ vertical-align:middle;}
.time{font-size: 16px;color:#333;line-height: 28px;}
.per_r2{margin-left:50px;}
.form2 span{display: inline-block;line-height:45px;width:110px;font-size: 16px;text-align: right;position: relative;}
.form2>label{display: inline-block;line-height:45px;width:110px;font-size: 16px;text-align: right;}
.form2 input[type="text"]{width:80%;height:43px;border:1px solid #dcdcdc;padding-left:10px;margin-left:15px;}
.form2 input[type="submit"]{width:310px;height:35px;line-height: 35px;background:#eb0000;color:#fff;text-align: center;margin-left:125px;cursor: pointer;font-size: 16px;}
.form2 select{width:122px;height:43px;border:1px solid #dcdcdc;padding-left:10px;margin-left: 10px;margin-left:15px;}
.form2 textarea{width:80%;border:1px solid #dcdcdc;padding-left:10px;margin-left:15px;padding-top: 5px;}
.form2Info{font-size: 18px;color: #d00000;margin: 20px 0;letter-spacing: 2px;text-indent: 40px;}
.form2 .per_p{font-size: 14px;color: orange;line-height: 20px;width: 70%;margin: 0 auto;}
.form2 span::after{
	content: "*";
    font-size: 16px;
    line-height: 44px;
    color: #d00000;
    position: absolute;
  	top: 2px;
    right: -5px;
    z-index: 1;
}
.per_r1 input[type="text"]{
	width: 380px;
    height: 43px;
    border: 1px solid #dcdcdc;
    padding-left: 10px;
    margin-left: 15px;
}
.btnout{text-align: center;}
.btnout #logout{
	font-size: 18px;
	background: #d00000;
	padding: 0 10px;
	color: #fff;
	line-height: 40px;
	cursor: pointer;
}
.btnout #logout2{
	font-size: 18px;
	background: #999999;
	padding: 0 10px;
	color: #fff;
	line-height: 40px;
}
.btnout #receivePrice{
	font-size: 16px;
	line-height: 40px;
}
.btnout #receivePrice em{
	color: #d00000;
}
.btnout #receivePrice i{
	color: #d00000;
	font-size: 16px;
}
.per-account{
	margin-top: 20px;
}
.per-account p{
	line-height: 48px;
	font-size: 16px;
}
.per-account p span{
	display: inline-block;
	line-height:45px;
	width:110px;
	font-size: 16px;
	text-align: right;
	padding-right: 15px;
}

.per-account p i{
	font-size: 18px;
	color: #d00000;
	padding-left: 10px;
}

#start{width: 29%;margin-left: 15px;height: 40px;font-size: 16px;}
/* .form2.textbaidu{height: 400px;} */
#content2{margin-left: 15px;width: 82%;}
#provinces,#citys,#countys{width:110px;height:40px;margin:0 15px;}
.wxp{margin-left:15px;float: left}
.te{margin-right:18px;margin-left:15px;}
.table-container{width: 100%;overflow-y: auto;_overflow:auto;margin: 0 0 1em;}
table{border:0; border-collapse:collapse;}
/*添加IOS下滚动条*/
.table-container::-webkit-scrollbar{
-webkit-appearance: none;
width: 14px;
height: 14px;}
.table-container::-webkit-scrollbar-thumb{
border-radius: 8px;
border: 3px solid #fff;
background-color: rgba(0, 0, 0, .3);}
.shoplist{margin-top:20px;border:1px solid #dcdcdc; border-collapse:collapse;overflow-y: auto;_overflow:auto;min-width:100%;}
.shoplist thead{background:#eeeeee;}
.shoplist th{line-height:50px;font-size:16px;color:#333;}
.shoplist td{text-align: center;font-size: 16px;color:#333;}
.shoplist td .pro{width:160px;margin:20px 0;}
.shoplist_t1{width:200px;min-width: 170px;} .shoplist_t2{width:170px;min-width: 120px;}.shoplist_t3{width:114px;min-width: 75px;}
.edit{display: inline-block;padding:0 20px;line-height: 35px;text-align: center;color:#fff;background:#db0000;}
.shoplist tbody tr{border-top:1px solid #dcdcdc;}

.addshop{margin-left:25px;margin-top:30px;}
.adddynamic{margin-top:30px;}

.dynamic_list{width:100%;}
.dynamic_list li{border:1px solid #dcdcdc;border-top:0 ;position:relative;line-height: 48px;}

.rnav_list li div{display: inline-block;margin-left: 20px;width: 13%;}
.rnav_list li div:nth-child(6){width: 20%;}
.rnav_list li div.draw_msg{width: 20%;}
.rnav_list li div p{font-size: 14px;color: #666;line-height: 20px;}
.dy_img{width:144px;}
.dynamic_li_lf1{width:170px;margin-left: 48px;padding-top: 20px;}
.dynamic_li_lf2{width:400px;overflow: hidden;}
.dynamic_li_rt{width:340px;margin-top:10px;}
.per_d1,.per_d2{font-size: 16px;color:#333;line-height: 35px;}
.per_d2{line-height: 20px;max-height:40px;overflow: hidden;text-overflow:ellipsis;color:#666;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;width: 400px;}
.per_d3{display: block;width:70px;color:#999;font-size:12px;text-align: center;}
.per_d4{margin-left:10px;margin-right:10px;width:48px;padding:0 20px;line-height: 35px;text-align: center;display: inline-block;}
.per_d4 span{display: block;color: #d50000;}
.per_d4 a{display: block;color: #fff;background: #d50000}
.per_d5{display: inline-block;width:25px;text-align: center;}
.per_d6{display: inline-block;width:40px;text-align: center;}
.dyml,.dyml2{margin-left:70px;}
.dingo{display: none;position: fixed;left:50%;top:30%;transform: translateX(-50%);width:400px;padding:10px 0 30px;text-align: center;background:#f7f8fa;}
.dingo_main{margin-top:25px;font-size:16px;}
.dingo_text{/*text-align: left;*/}
.dingo_bt input{display: inline-block;width:200px;line-height: 35px;text-align: center;background:#f00;color:#fff;margin-top:30px;cursor: pointer;}
.expire{display: inline-block;width:90px;text-align: center;line-height: 35px;font-size: 16px;color:#999;}
.form3>span{display: inline-block;line-height:45px;width:110px;font-size: 16px;text-align: right;}
.form3 i{font-size: 16px;color: #d00000;}
.form3 input[type="submit"]{padding:0 20px;height:35px;line-height: 35px;background:#eb0000;color:#fff;text-align: center;margin-left:110px;cursor: pointer;font-size: 16px;}
.form3{margin:10px 0;}
.playtime{width: 88%;float: right;}
.playtime>li{
	display: inline-block;
	margin: 10px;
	width: 260px;
	border: 1px solid #fff;
	height: 165px;
	background: #f3f3f3;
	cursor: pointer;
}
.playtime>li:hover{
	border: 1px solid #d00000;
}
.playtime>li.active{
	border: 1px solid #d00000;
}

.play_pri1{text-align: right;font-size: 16px;padding-right: 30px;line-height: 20px;color: #7d7d7d;}
.play_pri2>p{color: #a4a4a4;margin-top: 10px;font-size: 14px;line-height: 20px;padding-left: 10px;}
.playtime>li>span{display: inline-block;width: 40px;height: 40px;margin-left: 10px;margin-top: 10px;}
.span1{background: url("../img/buy1.png") no-repeat center;background-size: contain;}
.span2{background: url("../img/buy2.png") no-repeat center;background-size: contain;}
.span3{background: url("../img/buy3.png") no-repeat center;background-size: contain;}
.span4{background: url("../img/buy4.png") no-repeat center;background-size: contain;}
.span5{background: url("../img/buy5.png") no-repeat center;background-size: contain;}
.span6{background: url("../img/buy6.png") no-repeat center;background-size: contain;}
.span7{background: url("../img/buy7.png") no-repeat center;background-size: contain;}
.span8{background: url("../img/buy8.png") no-repeat center;background-size: contain;}
.span9{background: url("../img/buy9.png") no-repeat center;background-size: contain;}


.date-sjk{line-height: 45px;padding-left: 18px;}
.play_pri>i{padding-left: 18px;}
.play_sub input[type="submit"]{margin-left: 128px;}
.form3_list1 li{width:300px;font-size:16px;color:#333;line-height: 35px;margin-bottom:10px;float: left;}
.form3_list1 li span{margin-left:10px;text-align: left;}
.form3_t1{color:#000;font-size: 18px;line-height: 35px;}
/*.form3_list2 li{margin-left:10px;font-size: 16px;color:#333;margin-bottom:10px;}
.form3_list2 span{font-size: 16px;color:#333;line-height: 35px;}*/
.mobile{display: none;width:32px;height:32px;margin-right:15px;position: relative;margin-top:10px;}
.mobilemenu{background:url(../img/menu.png) no-repeat center center;width:32px;height:32px;}
.ml{margin-left:80px;color:#f00;height:20px;line-height: 20px;}
.ml2{margin-left:125px;color:#f00;height:20px;line-height: 20px;}
.cl{font-size:18px;text-align:center;float: right;margin-right:10px;margin-bottom: 5px;}
.fml{font-size: 16px;margin-left:15px;color:#f00;white-space: nowrap;}
.webmsg{margin-top:10px;border:1px solid #dcdcdc; border-collapse:collapse;overflow-y: auto;_overflow:auto;min-width:100%;font-size:16px;text-align: left;}
.webmsg thead{background:#eeeeee;}
.webmsg th{line-height:40px;font-size:16px;color:#333;padding-left:10px;}
.webmsg td{text-align:left;font-size: 16px;color:#333;line-height:24px;padding-left:10px;white-space: normal;padding: 10px;}
.webmsg tbody tr{border-top:1px solid #dcdcdc;width: 100%;}
.webmsg_t1{width:120px;min-width: 50px;} 
.webmsg_t2{width:200px;min-width: 150px;}
.webmsg_t3{width:600px;min-width: 300px;}.webmsg_t4{width:50px;min-width: 40px;}
.webmsg_t5{min-width: 150px;}
.ban{cursor: not-allowed;}
.pt1{font-size:16px;margin-left:10px;}
.pml{color:#f00;text-align:left;margin-left:5%;}
#content1{width:80%;margin:0 auto;}
/*个人中心发布信息*/
.webmsg .msgmaner_t1{
	width: 10%;
	text-align: center;
	
}
.msgmaner_t1 input{
	margin-right: 10px;
}
.webmsg .msgmaner_t2{
	width: 25%;
	text-align: center;
}
.msgmaner_t2 input{
	font-size: 16px;
	margin-right: 20px;
	background: #fff;
	color: #d50000;
}
.webmsg .msgmaner_t3{
	width: 35%;
}
.webmsg .msgmaner_t4{
	width: 10%;
	text-align: center;
}
.webmsg .msgmaner_t5{
	width: 10%;
	text-align: center;
}

.msgmaner_td2 img{
	width: 170px;
	height: 100px;
	vertical-align: middle;
}
.webmsg td.msgmaner_td3{
	text-align: left;
}
td.msgmaner_td3 h3{
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
}
td.msgmaner_td3 ul li{
	display: inline-block;
	font-size: 16px;
}

/*--最新招聘--*/
.per_list{
	margin-top: 20px;
}
.rcont_top{
	line-height: 50px;
	background: #e5e5e5;
	
}
.rcont_top li{
	display: inline-block;
	font-size: 16px;
	text-align: center;
}
.per_li1{width: 8%;}
.per_li2{width: 20%;}
.per_li3{width: 35%;}
.per_li4{width: 10%;}
.per_li5{width: 10%;}
.per_li1 input{
	margin-right: 10px;
}
.per_li2 input{
	font-size: 16px;
	color: #d50000;
	margin-right: 10px;
}
.per_li2 img{
	vertical-align: middle;
	width: 190px;
	height: 104px;
}
.per_li3 p{
	font-size: 16px;
	line-height: 25px;
}
.per_li3 p.p{
	font-size: 14px;
}
.per_li3 li{
	font-size: 14px;
	line-height: 20px;
}
.rcont_main>li{
	border: 1px solid #999;
	border-bottom: none;
}
.rcont_main>li:last-child{
	border-bottom: 1px solid #999;
}
.rcont_main_list .per_li3{
	text-align: left;
}
.rcont_main_list{line-height: 120px;}
.rcont_main_list li{
	display: inline-block;
	text-align: center;
}
.per_li4>.comment-rbtn2{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url("../img/praise.png") no-repeat right;
	background-size: contain;
}
.per_li5>.comment-rbtn3{
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	background: url("../img/top.png") no-repeat right;
	background-size: contain;
}
.per_li6>a{
	font-size: 14px;
	background: #d50000;
	padding: 3px 15px;
	color: #fff;
}


@media screen and (max-width:1200px) {
     .w1200{width:100%;}
     .per_main{margin-top:0px;}
    .per_left{display: none;position: absolute;right:32px; top:0;border-radius: 20px;z-index: 999;}
    .mobile{display:block;}
    .per_right{width:100%;padding-left:0;}
    .dynamic_main{padding-left:10px;}
    .evaluate_main{padding-left:10px;}
 } 
@media screen and (max-width:1000px) {
    .form1{margin-left:30px;}
.dynamic_li_lf1{width:20%;min-width: 130px;margin-right:4px;}
.dynamic_li_lf2{width:40%;overflow: hidden;}
.dynamic_li_rt{width:35%;margin-top:10px;}
.per_d2{width:100%;}
/*.per_d4{margin-left:20%;margin-right:3%;}*/
/*.per_d5{display:inline-block;width:60px;text-align: center;}*/
.dy_img{width:100%;min-width: 130px;}
.evaluate_li_lf{width:65%;padding-left:20px;}
.evaluate_li_rt{width:35%;margin-top:10px;}
.per_e3{width:30%;}
.per_e4{width:40%;}
.per_e5{width:25%;}
.imgbox3{margin:0 auto;}
.per_r1{float:none;margin-left:0;}
	
	.per_li1{width: 8%;}
	.per_li2{width: 20%;}
	.per_li3{width: 30%;}
	.per_li2 img{
		width: 150px;
		vertical-align: middle;
		height: 80px;
	}
	
}
@media screen and (max-width:850px) {
 .dynamic_li_rt{width:50%;}
 .dynamic_li_lf2{width:60%;}
 .per_d3{display: inline-block;}
 .dyml,.dyml2{margin-left:10px;}
	.per_li1{width: 10%;}
	.per_li2{width: 25%;}
	.per_li3{width: 25%;}
	.per_li2 img{
		width: 120px;
		vertical-align: middle;
		height: 70px;
	}
	.per_li3 p{
		line-height: 18px;
		font-size: 14px;
	}
	.per_li3 p.p{
		font-size: 12px;
	}
	.per_li3 li{
		line-height: 18px;
		font-size: 12px;
	}
}
@media screen and (max-width:600px) {
.dynamic_list .labei-all-check {top: -76px!important;}
 .dynamic_li_lf2{width:60%;}
 .dynamic_li_rt{width:70%;}
 .per_d3{display: inline-block;}
 .evaluate_li_lf{width:80%;}
.evaluate_li_rt{width:50%;margin-top:10px;}
.per_e3{width:30%;}
.per_e4{width:40%;}
.per_e5{width:25%;}
.ewm{width:90%;}
.ewm_r{display: none;}
.ewm_l{width:100%;}
.dingo{width:90%;}
.form2{padding-left: 10px;}
.form2 span{
	width: 400px;
	text-align: left;
	padding-left: 20px;
}
.form2 span::after{
	right: 74%;
}
.form2 select{width:100px;padding-left: 20px;margin-left: 10px;}
.form2>label{width: 400px;text-align: left;padding-left: 20px;}
.outsideInfo{width: 100%;}
}
@media screen and (max-width:550px) {
     .form1 input[type="text"]{width:200px;height:43px;border:1px solid #dcdcdc;padding-left:10px;}
    .form2 input[type="text"]{width:230px;height:43px;border:1px solid #dcdcdc;padding-left:10px;margin-left:15px;}
	.form2 input[type="submit"]{ width:260px;height:35px;line-height: 35px;background:#eb0000;color:#fff;text-align: center;cursor: pointer;font-size: 16px;margin:0 auto;margin-left: 30px;}
	#start{width: 230px;padding-left:10px;margin-left:15px;}
    .dynamic_li_rt{width:91%;}
    /* .form2 select{width:72px;padding-left: 5px;} */
#provinces,#citys,#countys{width:95px;margin:0 0 0 15px;padding-left:3px;}
.imgbox2{margin-bottom: 10px;}
.addshop{margin-left:0px;}
.evaluate_li_rt{width:60%;}
	.per_li1{width: 10%;}
	.per_li3{width: 20%;}
	.per_li2 img{
		width: 100px;
		vertical-align: middle;
		height: 50px;
	}
	.per_li1 input{
		margin-right: 3px;
	}
	.rcont_top li{
		font-size: 14px;
	}
	.per_li2 input{
		font-size: 14px;
		color: #d50000;
		margin-right: 3px;
	}
	.per_li4>.comment-rbtn2{
		display: inline-block;
		width: 18px;
		height: 18px;
		background: url("../img/praise.png") no-repeat center;
		background-size: contain;
	}
	.per_li5>.comment-rbtn3{
		display: inline-block;
		width: 18px;
		height: 18px;
		text-align: center;
		background: url("../img/top.png") no-repeat center;
		background-size: contain;
	}
	
	.dynamic_li_lf2 p{
        font-size:14px!important;
	}
	.rnav-two div{width: 16%;margin-left: 10px;}
	.rnav_list li div{padding-bottom: 20px;}
	
}
@media screen and (max-width:500px){
	.per_li1{width: 20%;}
	.rcont_top>.per_li2{width: 30%;}
	.rcont_top>.per_li3{width: 40%;}
	.rcont_top>.per_li4{display: none;}
	.rcont_top>.per_li5{display: none;}
	.rcont_main_list>.per_li2{width: 30%;}
	.rcont_main_list>.per_li3{width: 40%;}
	.rcont_main_list>.per_li4{display: none;}
	.rcont_main_list>.per_li5{display: none;}
	.rcont_main_list>.per_li6{display: none;}
	
	.dynamic_li_lf1 {
   		margin-left: 28px;
	}

	.webmsg_t2{min-width: 100px;}
	.webmsg_t3{min-width: 150px;}
	.webmsg_t5{min-width: 100px;}
	.btn7{left: 12px;}
	
	.dynamic_list li{line-height: 24px;}
}
@media screen and (max-width:465px){
    .dynamic_li_lf2 {
        width: 50%;
	}
	.rnav_list li div:nth-child(2) p{font-size: 12px;}
	.rnav_list li{width: 100%;}
	.rnav_list li div{padding-bottom: 0;margin: 0;text-align: center;}
	.rnav_list li div:nth-child(1){width: 30%;}
	.rnav_list li div:nth-child(2){width: 33%;}
	.rnav_list li div:nth-child(3){width: 33%;}
	.rnav_list li div:nth-child(4){width: 25%;}
	.rnav_list li div:nth-child(5){width: 25%;}
	.rnav_list li div:nth-child(6){width: 45%;}

	.boxCenter{width: 100%;margin: 0 auto;text-align: center;}
	.preview{margin: 0 auto;}
	.form1>p.form1Center{display: block;width: 100%;text-align: left;padding-left: 10%;}

}
@media screen and (max-width:400px) {
    .form1 input[type="submit"],.form1 input[type="reset"]{padding:0 20px;height:35px;line-height: 35px;background:#eb0000;color:#fff;text-align: center;margin-right:30px;cursor: pointer;font-size: 16px;}
    .form3 span{width:90px;}
	/* .form2 span{text-align: right;margin-left:10px;} */

/*    .form3_list1 li{width:150px;}*/
    .evaluate_li_rt{width:80%;margin-top:5px;}
    #provinces{margin-left:10px;}
    #citys,#countys{margin:0 0 0 2px;}
    .btn6{width:174px;height:105px;line-height: 105px;}
    #preview6{width:174px;height:105px;}
     .dynamic_li_lf2{width:40%;}
     .dynamic_li_rt{width:100%;}
     .imgbox4,.imgbox5{width:270px;}
	.per_li1{width: 15%;}
	.rcont_top>.per_li2{width: 30%;}
	.rcont_top>.per_li3{width: 50%;}
	.rcont_top>.per_li4{display: none;}
	.rcont_top>.per_li5{display: none;}
	.rcont_main_list>.per_li2{width: 30%;}
	.rcont_main_list>.per_li3{width: 50%;}
	.rcont_main_list>.per_li4{display: none;}
	.rcont_main_list>.per_li5{display: none;}
	.rcont_main_list>.per_li6{display: none;}
	.webmsg th{font-size: 14px;padding-left: 5px;}
	.webmsg_t2{min-width: 85px;padding-left: 0px;}
	.webmsg_t3{min-width: 120px;padding-left: 0px;}
	.webmsg_t5{min-width: 93px;;}
    .webmsg td{padding: 5px;font-size: 12px;line-height: 18px;}
	.form1 input[type="text"] { width: 183px;}
   
 }














